body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    text-align: center;
    color:#48623a
}
h1 {
    color: #5a8b40;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.project {
    background-color: #D9E9CF;
    border: 1px solid #96A78D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    align-items: center;
}

.project img {
    max-width: 500px;
    height: 200px;
    border-radius: 5px;
}

.project button {
    margin: 10px auto;
    padding: 8px 12px;
    background-color: #B6CEB4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.details {
    display: none;
}
