body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    text-align: center;
    color:#48623a
}
h1 {
    color: #5a8b40;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.project {
    background-color: #D9E9CF;
    border: 1px solid #96A78D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    align-items: center;
}

.project img {
    max-width: 500px;
    height: 200px;
    border-radius: 5px;
}

.project button {
    margin: 10px auto;
    padding: 8px 12px;
    background-color: #B6CEB4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.details {
    display: none;
}
form {
    max-width: 500px;
    margin: 40px auto;
    background-color: #94BF73;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #B5EA8C;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: #314026;
    font-size: 0.9em;
}
form button {
    background-color: #5a8b40;
    color: #94BF73;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #48623a;
}

#contact {
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact form {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #b9cead;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contact label {
    font-weight: bold;
}
#contact input, #contact textarea {
    padding: 10px;
    border: 1px solid #5fb067;
    border-radius: 4px;
    font-size: 16px;
}
#contact button {
    background-color: #5a8b40;
    color: #b6f0c687;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#contact button:hover {
    background-color: #48623a;
}